body
{
    font-family:'Barlow', sans-serif ;
    margin-left: 0.3%;
    margin-right: 3%;
    height: 99%;
    animation: backgroundColor 30s infinite ;
}

header
{
    font-family:'Barlow', sans-serif ;
    font-size: 1.5em;
}

.links div
{
    display: inline-block;
}

.jobs div
{
    display: inline;
}

.repositorio
{
    width: 81vh;
}

@keyframes backgroundColor
{
    0%{background-color: #dc354693;}
    10%{background-color: #fd7d148c;}
    20%{background-color: #ffc1078c;}
    30%{background-color: #28a74694;}
    40%{background-color: #20c99693;}
    50%{background-color: #17a3b880;}
    60%{background-color: #007bff75;}
    70%{background-color: #6710f280;}
    80%{background-color: #6e42c178;}
    90%{background-color: #e83e8d7a;}
}

/*
{
    0%{background-color: #007bff;}
    5%{background-color: #6610f2;}
    10%{background-color: #6f42c1;}
    15%{background-color: #e83e8c;}
    20%{background-color: #dc3545;}
    25%{background-color: #fd7e14;}
    30%{background-color: #ffc107;}
    35%{background-color: #28a745;}
    40%{background-color: #20c997;}
    45%{background-color: #17a2b8;}
    50%{background-color: #fff;}
    55%{background-color: #6c757d;}
    60%{background-color: #343a40;}
    65%{background-color: #007bff;}
    70%{background-color: #6c757d;}
    75%{background-color: #28a745;}
    80%{background-color: #17a2b8;}
    85%{background-color: #ffc107;}
    90%{background-color: #dc3545;}
    95%{background-color: #f8f9fa;}
    100%{background-color: #343a40;}
}
*/
