body
{
    width: 99%;
    font-family:'Barlow', sans-serif ;
    font-size: 1.02em;
    margin-left: 0.3%;
    margin-right: 3%;
    padding: 1.08%;
    animation: backgroundColor 27s infinite ;
}

header
{
    height: 90%;
    width: 99%;
    margin-top: 36%;
    margin-bottom: 63%;
}

h1
{
    color: rgba(3, 3, 3, 0.65);
    position: absolute;
    font-size: 300%;
    animation: fNome 6s infinite;
    text-shadow: rgba(0, 0, 255, 0.212) 3px 0px 0px, rgba(255, 0, 0, 0.349) 0px 3px 0;
}

.links div, .jobs div
{
    display: inline-block;

}

p
{
    width: 99%;
}

summary
{
    font-size: 1.62em;
    font-weight: bolder;
    margin: 3%;
}

.rage
{
    animation: furi 1.8s infinite;
}



@keyframes backgroundColor
{
    0%{background: rgba(220, 53, 70, 0.54);}
    18%{background: rgba(253, 125, 20, 0.54);}
    27%{background: rgba(255, 193, 7, 0.54);}
    36%{background: rgba(40, 167, 70, 0.54);}
    45%{background: rgba(32, 201, 150, 0.54);}
    54%{background: rgba(23, 163, 184, 0.54);}
    63%{background: rgba(0, 123, 255, 0.54);}
    72%{background: rgba(104, 18, 243, 0.54);}
    81%{background: rgba(110, 66, 193, 0.54);}
    100%{background: rgba(220, 53, 70, 0.54);}
}

@keyframes fNome
{
    0%{font-family: 'Barlow';}
    9%{font-family: 'Lobster', cursive;}
    18%{font-family: 'Kaushan Script', cursive;}
    27%{font-family: 'Amatic SC', cursive;}
    /* 36%{font-family: 'Barrio', cursive; font-size: 240%;} */
    45%{font-family: 'Caveat', cursive;}
    54%{font-family: 'Dancing Script', cursive;}
    63%{font-family: 'Kaushan Script', cursive;}
    72%{font-family: 'Libre Barcode 39 Text', cursive;}
    81%{font-family: 'New Rocker', cursive;}
    /* 90%{font-family: 'Orbitron', sans-serif;} */
    99%{font-family: 'Stick', sans-serif;}
    
}

@keyframes furi
{
    0%{font-size: 1em;}
    50%{font-size: 1.08em;}
    100%{font-size: 1em;}
}





@media (max-width: 450px)
{
    .repositorio, #rep
    {
        transform: scale(.81);
        position: relative;
        left: -12.9%;
    }
}

@media (min-width: 451px)
{
    .repositorio, #rep
    {
        transform: scale(.84);
        position: relative;
        left: -10.2%;

    }
}

@media (min-width: 641px)
{
    .repositorio, #rep
    {
        transform: scale(.9);
        position: relative;
        left: -4.5%;

    }
}

@media (min-width: 792px)
{
    .repositorio, #rep
    {
        transform: scale(1);
        position: relative;
        left: -1%;

    }
}


/*
{
    0%{background-color: #007bff;}
    5%{background-color: #6610f2;}
    10%{background-color: #6f42c1;}
    15%{background-color: #e83e8c;}
    20%{background-color: #dc3545;}
    25%{background-color: #fd7e14;}
    30%{background-color: #ffc107;}
    35%{background-color: #28a745;}
    40%{background-color: #20c997;}
    45%{background-color: #17a2b8;}
    50%{background-color: #fff;}
    55%{background-color: #6c757d;}
    60%{background-color: #343a40;}
    65%{background-color: #007bff;}
    70%{background-color: #6c757d;}
    75%{background-color: #28a745;}
    80%{background-color: #17a2b8;}
    85%{background-color: #ffc107;}
    90%{background-color: #dc3545;}
    95%{background-color: #f8f9fa;}
    100%{background-color: #343a40;}
}
*/
