body
{
    font-family:'Barlow', sans-serif ;
    background-color: khaki;
    margin-left: 0.3%;
    margin-right: 3%;
    height: 99%;
}

header
{
    font-family:'Barlow', sans-serif ;
    font-size: 1.5em;
}

.links div
{
    display: inline-block;
}

.jobs div
{
    display: inline;
}

.repositorio
{
    width: 81vh;
}

